@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

*
  box-sizing: border-box
  text-rendering: optimizeLegibility

html,body
  background: $light-bg-color
  margin:       0
  padding:      0
  width:        100%
  height:       100%
  font-family:  $font-family
  color:        $font-color
  
.small-text
  font-size: 12px
  line-height: 1.5em
  
.todo
  background: red
  color: #fff
  
.hidden
  display: none
  
.table
  display: table

.table-cell
  display: table-cell
  vertical-align: middle
  
.text-align-right
  text-align: right