<!DOCTYPE html>
<html>
<head>
  <title>BuildLab Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="styles/vendor.css">
  <link rel="stylesheet" type="text/css" href="styles/app.css">
</head>
<body>
  <div class="application-container">

    <!-- HEADER -->
    <nav class="main-nav">
      <div class="item logo"></div>
      <div class="global-nav-item-wrapper main">
        <div class="item"><a href="#">Test</a></div>        
      </div>
    </nav>

    <div class="grid">
      <div class="page grid">
        <div class="row">
          <div class="page-heading">
            <h2>Episodes</h2>
          </div>
        </div>
        <div class="row list-card-container">
          <div class="list-card">
            <div class="inner">
              <a href="#" class="cover-link"></a>
              <div class="image" style="background: url(http://lorempixel.com/400/402)"></div>
              <div class="content">
                <div class="episode-info">
                  <span class="episode-date"><i class="fa fa-clock-o"></i>15 Mins Ago</span>
                  <span class="episode-number">Episode #2</span> 
                </div>
                <h2>Finding your data</h2>
                <p class="episode-description">
                  In this episode we'll be looking at several of the startup and shutdown route life cycle hooks.In this episode we'll be looking at several of the startup and shutdown route life cycle hooks.
                </p>
              </div>
              <div class="meta">
                <ul>
                  <li class="time">
                    <i class="fa fa-clock-o"></i>
                    <strong>30</strong>
                    <small>mins</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="list-card">
            <div class="inner">
              <a href="#" class="cover-link"></a>
              <div class="image" style="background: url(http://lorempixel.com/400/402)"></div>
              <div class="content">
                <div class="episode-info">
                  <span class="episode-date"><i class="fa fa-clock-o"></i>15 Mins Ago</span>
                  <span class="episode-number">Episode #2</span> 
                </div>
                <h2>Finding your data</h2>
                <p class="episode-description">
                  In this episode we'll be looking at several of the startup and shutdown route life cycle hooks.In this episode we'll be looking at several of the startup and shutdown route life cycle hooks.
                </p>
              </div>
              <div class="meta">
                <ul>
                  <li class="time">
                    <i class="fa fa-clock-o"></i>
                    <strong>30</strong>
                    <small>mins</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="list-card">
            <div class="inner">
              <a href="#" class="cover-link"></a>
              <div class="image" style="background: url(http://lorempixel.com/400/402)"></div>
              <div class="content">
                <div class="episode-info">
                  <span class="episode-date"><i class="fa fa-clock-o"></i>15 Mins Ago</span>
                  <span class="episode-number">Episode #2</span> 
                </div>
                <h2>Finding your data</h2>
                <p class="episode-description">
                  In this episode we'll be looking at several of the startup and shutdown route life cycle hooks.In this episode we'll be looking at several of the startup and shutdown route life cycle hooks.
                </p>
              </div>
              <div class="meta">
                <ul>
                  <li class="time">
                    <i class="fa fa-clock-o"></i>
                    <strong>30</strong>
                    <small>mins</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="list-card">
            <div class="inner">
              <a href="#" class="cover-link"></a>
              <div class="image" style="background: url(http://lorempixel.com/400/402)"></div>
              <div class="content">
                <div class="episode-info">
                  <span class="episode-date"><i class="fa fa-clock-o"></i>15 Mins Ago</span>
                  <span class="episode-number">Episode #2</span> 
                </div>
                <h2>Finding your data</h2>
                <p class="episode-description">
                  In this episode we'll be looking at several of the startup and shutdown route life cycle hooks.In this episode we'll be looking at several of the startup and shutdown route life cycle hooks.
                </p>
              </div>
              <div class="meta">
                <ul>
                  <li class="time">
                    <i class="fa fa-clock-o"></i>
                    <strong>30</strong>
                    <small>mins</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="list-card">
            <div class="inner">
              <a href="#" class="cover-link"></a>
              <div class="image" style="background: url(http://lorempixel.com/400/402)"></div>
              <div class="content">
                <div class="episode-info">
                  <span class="episode-date"><i class="fa fa-clock-o"></i>15 Mins Ago</span>
                  <span class="episode-number">Episode #2</span> 
                </div>
                <h2>Finding your data</h2>
                <p class="episode-description">
                  In this episode we'll be looking at several of the startup and shutdown route life cycle hooks.In this episode we'll be looking at several of the startup and shutdown route life cycle hooks.
                </p>
              </div>
              <div class="meta">
                <ul>
                  <li class="time">
                    <i class="fa fa-clock-o"></i>
                    <strong>30</strong>
                    <small>mins</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="list-card">
            <div class="inner">
              <a href="#" class="cover-link"></a>
              <div class="image" style="background: url(http://lorempixel.com/400/402)"></div>
              <div class="content">
                <div class="episode-info">
                  <span class="episode-date"><i class="fa fa-clock-o"></i>15 Mins Ago</span>
                  <span class="episode-number">Episode #2</span> 
                </div>
                <h2>Finding your data</h2>
                <p class="episode-description">
                  In this episode we'll be looking at several of the startup and shutdown route life cycle hooks.In this episode we'll be looking at several of the startup and shutdown route life cycle hooks.
                </p>
              </div>
              <div class="meta">
                <ul>
                  <li class="time">
                    <i class="fa fa-clock-o"></i>
                    <strong>30</strong>
                    <small>mins</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>



  </div>
</body>
</html>