clearFix()
  &:after
    content:  " "
    display:  table
    clear:    both

bgImage()
  background-repeat:    no-repeat
  background-size:      cover
  background-position:  center center
  
circle(dimension)
  width:          dimension
  height          dimension
  border-radius:  100%