num_to_text(num)
  nums = "zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten",
         "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen"

  if (nums[num])
    return nums[num]
  else
    return "unknown"